<h1>GitHub</h1>

<input class="form-control" type="search" [formControl]="searchControl">
<br /><br />
<div *ngIf='isLoading'>
  <i class='fa fa-spinner fa-spin fa-3x'></i>
</div>
<h3>GitHub User Results</h3>
<div *ngIf='isLoading'>
  <i class='fa fa-spinner fa-spin fa-3x'></i>
</div>
<div *ngFor='let user of users' class='media'>
  <div class='media-left'>
    <a href='{{ user.html_url }}'>
      <img class='media-object img' src='{{ user.avatar_url }}' alt='...'>
    </a>
  </div>
  <div class='media-body'>
    <h4 class='media-heading'>
      {{ user.login }}
    </h4>
    Score: {{ user.score }}
  </div>
</div>
