<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ data.imageUrl }}" alt="...">
    </a>
  </div>
  <div class="media-body">
    <div class="media-body">
      <h4 class="media-heading">{{ data.productName | lowercase }}</h4>
      {{ data.releasedDate | date:"MM/dd/yy" }}
      <rating [rating-value]="data.rating" [numOfReviews]="data.numOfReviews"></rating>
      <div [ngSwitch]="data.rating">
        <div *ngSwitchCase="1">Poor</div>
        <div *ngSwitchCase="2">Fair</div>
        <div *ngSwitchCase="3">Good</div>
        <div *ngSwitchCase="4">Very Good</div>
        <div *ngSwitchCase="5">Excellent</div>
        <div *ngSwitchDefault>Not Rated</div>
      </div>
      <br /><br />
      {{ data.description | truncate: 20 }}
    </div>
  </div>
</div>
