<div class="container">
  <h1>User Form</h1>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
      <div *ngIf="firstName.touched && firstName.errors">
        <div class="alert alert-danger" *ngIf="!!firstName.errors.required">
          First Name Required!
        </div>
        <div class="alert alert-danger" *ngIf="!!firstName.errors.minlength">
          First name should be minimum 3 characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        Email is Required!
      </div>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <!--<input type="text" class="form-control" id="country">-->
      <select class="form-control" id="country" [(ngModel)]="model.country" name="country">
        <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  You submitted the following:<br />
  First Name: {{ model.firstName }}<br />
  Email: {{ model.email }}<br />
  Country: {{ model.country }}<br />
  <button class="btn btn-primary" (click)="submitted=false">Remove</button>
</div>
